<h2>Players</h2>
<table id="players_table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th data-sort-method='dotsep'>CSE</th>
      <th data-sort-method='number'>Played</th>
      <th data-sort-method='number'>Wins</th>
      <th data-sort-method='number'>Losses</th>
      <th data-sort-method='number'>Draws</th>
    </tr>
  </thead>
  <tbody>
    <% @discord_channel_players.each_with_index do |dcp, index| %>
      <% trueskill_rating = dcp.trueskill_rating %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= dcp.player.name %></td>
        <td><%= number_with_precision(trueskill_rating.conservative_skill_estimate, precision: 2) %></td>
        <td style="text-align:right;"><%= dcp.match_count %></td>
        <td style="text-align:right;"><%= dcp.win_count %></td>
        <td style="text-align:right;"><%= dcp.loss_count %></td>
        <td style="text-align:right;"><%= dcp.draw_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Matches</h2>
<% @matches.each do |match| %>
  <hr>
  <div>
    <table>
      <tr>
        <th>ID</th>
        <th>Discord</th>
        <th>Map</th>
        <th>Date</th>
      </tr>
      <tr>
        <td><%= match.id %></td>
        <td><%= match.discord_channel && match.discord_channel.name %></td>
        <td><%= match.game_map && match.game_map.name || "Unknown" %></td>
        <td><%= local_time(match.created_at) %></td>
      </tr>
    </table>
    <div>
    </div>
    <table>
      <tr>
        <th>Result</th>
        <th>Number</th>
        <th>Players</th>
      </tr>
      <% match.teams.each do |team| %>
        <tr>
          <td><%= result(team.result) %></td>
          <td><%= team.name %></td>
          <td><%= team.players.map(&:name).join(", ") %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
