<main class="container-wide">
  <%= render_breadcrumbs %>
  <h2><%= @discord_channel.name %></h2>
  <figure>
    <h3>Players</h3>
    <table id="players_table" style="white-space: nowrap;" role="grid">
      <thead>
        <tr>
          <th style="width: 1.5rem;"></th>
          <th>Name</th>
          <% if current_player&.admin? || current_player&.public_ratings? %>
            <th>Tier</th>
            <th data-sort-method='number'>CSE</th>
            <th data-sort-method='number'>Rank</th>
            <th data-sort-method='dotsep'>P<sup>th</sup></th>
          <% end %>
          <th data-sort-method='number'>P</th>
          <th data-sort-method='number'>W</th>
          <th data-sort-method='number'>L</th>
          <th data-sort-method='number'>D</th>
          <th data-sort-method='number'>Last played</th>
        </tr>
      </thead>
      <tbody>
        <% @discord_channel_players.each do |dcp| %>
          <tr>
            <td>
              <% if dcp.player.image %>
                <%= image_tag dcp.player.image, style: "max-width: 1.5rem; border-radius: 50%;" %>
              <% end %>
            </td>
            <td><%= link_to(dcp.player.name, dcp.player) %></td>
            <% if current_player&.admin? || current_player&.public_ratings? %>
              <% if current_player&.admin? || dcp&.public_ratings? %>
                <td><%= dcp.tier %></td>
                <td><%= number_with_precision(dcp.trueskill_rating.conservative_skill_estimate, precision: 2) %></td>
                <td><%= dcp.rank %>/<%= dcp.discord_channel.discord_channel_players_count %></td>
                <td><%= raw percentile(dcp.percentile) %></td>
              <% else %>
                <td>?</td>
                <td>?</td>
                <td>?</td>
                <td>?</td>
              <% end %>
            <% end %>
            <td><%= dcp.match_count %></td>
            <td><%= dcp.win_count %></td>
            <td><%= dcp.loss_count %></td>
            <td><%= dcp.draw_count %></td>
            <td data-sort="<%= dcp.last_match_date && dcp.last_match_date.to_i %>"><%= dcp.last_match_date && local_time_ago(dcp.last_match_date) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </figure>
  <h3>Matches</h3>
  <div id="matches">
    <%== pagy_nav(@pagy) %>

    <% @matches.each do |match| %>
      <%= render match %>
    <% end %>

    <%== pagy_nav(@pagy) %>
  </div>
</main>
