<div id="banner"></div>

<main class="container">
  <section>
    <%= image_tag(asset_path("home/logo.webp"), alt: "FortressOne logo", height: 128, width: 128) %>

    <hgroup>
    <h1>FortressOne</h1>
    <h2>Quake Team Fortress Remastered</h2>
    </hgroup>

    <p>Free and open source fork of the original 1996 QuakeWorld mod Team Fortress. Fast-paced, class based, arena first person shooter remastered with refined graphics, new mechanics and evolved gameplay.</p>
  </section>

  <section>
    <div class="grid">
      <div>
        <hgroup>
        <h2>Download</h2>
        <h3>Extract and run</h3>
        </hgroup>

        <p>Latest release (9th August 2021):</p>

        <ul>
          <li><a href="https://github.com/FortressOne/fte-config/releases/download/1.1.1-beta.1/fortressone-fte-windows-1.1.1-beta.1-portable.zip">Windows v1.1.1-beta.1</a></li>
          <li><a href="https://github.com/FortressOne/fte-config/releases/download/1.1.1-beta.1/fortressone-fte-linux-1.1.1-beta.1-portable.zip">Linux v1.1.1-beta.1</a></li>
        </ul>

        <p>Optional extras:</p>

        <ul>
          <li><a href="https://fortressone-share.s3.ap-southeast-2.amazonaws.com/hivis.zip">Hi vis models pack</a></br><small>Extract to <code>FortressOne/fortress/</code></small></li>
          <li><a href="https://fortressone-share.s3.ap-southeast-2.amazonaws.com/quake106_deiced.zip">Shareware Quake v1.06</a></li>
        </ul>

        <p>Pick-up games are organised on <a href="https://discord.fortressone.org">Discord</a>.
      </div>
      <div>
        <%= turbo_frame_tag :live_player_show, src: live_player_show_path, loading: :lazy do %>
          <%= render "video_frame", locals: { h2: "Watch", h3: "loading..." } do %>
            <div class="responsive-iframe">
              <div class="box">
                <div aria-busy="true">
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="grid">
      <div>
        <hgroup>
        <h2>Video</h2>
        <h3>In game action</h3>
        </hgroup>
        <ul>
          <li><a href="https://www.youtube.com/channel/UCgYzKaEyTNoVfRLwlpfKzFQ">YouTube</a></li>
          <li><a href="https://www.twitch.tv/FortressOne">Twitch channel</a></li>
          <li><a href="https://www.twitch.tv/directory/game/FortressOne">Twitch category</a></li>
        </ul>
      </div>
      <div>
        <hgroup>
        <h2>Play</h2>
        <h3>Chat, code, learn</h3>
        </hgroup>
        <ul>
          <li><a href="https://discord.fortressone.org">Discord</a></li>
          <li><a href="https://github.com/fortressone">GitHub</a></li>
          <li><a href="https://fortressone.fandom.com/wiki/FortressOne_Wiki">Wiki</a></li>
        </ul>
      </div>
      <div>
        <hgroup>
        <h2>Featured</h2>
        <h3>Around the web</h3>
        </hgroup>
        <ul>
          <li><a href="https://www.moddb.com/games/fortressone">ModDB</a></li>
          <li><a href="https://drzel.itch.io/fortressone">itch.io</a></li>
          <li><a href="https://www.igdb.com/games/fortressone">IGDB</a></li>
        </ul>
      </div>
      <div>
        <hgroup>
        <h2>Social</h2>
        <h3>We got those too</h3>
        </hgroup>
        <ul>
          <li><a href="https://www.reddit.com/r/FortressOne">Reddit</a></li>
          <li><a href="https://twitter.com/fortressone_dev">Twitter</a></li>
          <li><a href="https://news.ycombinator.com/item?id=22777321">Hacker News</a></li>
        </ul>
      </div>
      <div>
        <hgroup>
        <h2>Posterity</h2>
        <h3>Nerd out on history</h3>
        </hgroup>
        <ul>
          <li><%= link_to("Results", results_root_path, rel: "nofollow") %></li>
          <li><a href="https://demos.fortressone.org">Demos</a></li>
          <li><a href="http://fortressone-stats.s3-website-ap-southeast-2.amazonaws.com/">Stats</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <hgroup>
    <h2>Screenshots</h2>
    <h3>Click to open</h3>
    </hgroup>

    <div class="grid">
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/1.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/1.webp"), alt: "Heavy leaving spawn with team", width: "640", height: "360") %>
        <% end %>
      </div>
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/2.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/2.webp"), alt: "Spy lobbing grenade at Engineer and sentry gun", width: "640", height: "360") %>
        <% end %>
      </div>
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/3.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/3.webp"), alt: "Detonating pipe bombs to take out attacking medic", width: "640", height: "360") %>
        <% end %>
      </div>
    </div>
    <div class="grid">
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/4.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/4.webp"), alt: "Heavy turns around to discover a spy", width: "640", height: "360") %>
        <% end %>
      </div>
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/5.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/5.webp"), alt: "Soldier attacks enemy ramp room", width: "640", height: "360") %>
        <% end %>
      </div>
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/6.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/6.webp"), alt: "Soldier throws grenade at enemy pyro", width: "640", height: "360") %>
        <% end %>
      </div>
    </div>
    <div class="grid">
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/7.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/7.webp"), alt: "Enemy medic attempts to infect defending soldier", width: "640", height: "360") %>
        <% end %>
      </div>
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/8.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/8.webp"), alt: "Heavy defends flag at front of base", width: "640", height: "360") %>
        <% end %>
      </div>
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/9.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/9.webp"), alt: "Demo and soldier fire on outgoing spy", width: "640", height: "360") %>
        <% end %>
      </div>
    </div>
  </section>

  <section>
    <hgroup>
    <h2>Words</h2>
    <h3>What people are saying about FortressOne</h3>
    </hgroup>
    <blockquote>
      "Possibly the best game ever made!"
      <footer>
        <cite>- hydr0buds</cite>
      </footer>
    </blockquote>
    <blockquote>
      "FortressOne has brought qwtf current both with improved graphics and slightly tweaked gameplay. The community on discord is very friendly and happy to help you get setup and running quickly. They organize pick up games every night and also setup tournaments."
      <footer>
        <cite>- a2yay</cite>
      </footer>
    </blockquote>
    <blockquote>
      "This is the game you played 20 years ago and fell in love with!"
      <footer>
        <cite>- ricksonfold</cite>
      </footer>
    </blockquote>
    <blockquote>
      "An outstanding mod with a lot of work going in to improve game play still till this day."
      <footer>
        <cite>- andywelsh17</cite>
      </footer>
    </blockquote>
  </section>

  <section data-nosnippet>
    <hgroup>
    <h2>Classes</h2>
    <h3>The low-down on each</h3>
    </hgroup>

    <% [
      {
        images: [
          { url: "home/classes/blue_scout.webp", alt: "Scout icon" },
          { url: "home/classes/red_scout.webp", alt: "Scout icon" },
        ],
        name: "Scout",
        speed: "450",
        armour: "25 Green",
        weapons: ["Nailgun", "Shotgun", nil, "Axe"],
        grenades: ["Flash / Caltrops", "Concussion"],
        specials: ["Dash", "Scanner"],
        attributes: ["Can uncover enemy spies", "Can disarm detpacks"],
      }, {
        images: [
          { url: "home/classes/blue_sniper.webp", alt: "Sniper icon" },
          { url: "home/classes/red_sniper.webp", alt: "Sniper icon" },
        ],
        name: "Sniper",
        speed: "300",
        armour: "40 Green",
        weapons: ["Sniper Rifle", "Nailgun", "Axe"],
        grenades: ["Frag", "Flare"],
        specials: ["Zoom"],
        attributes: [],
      }, {
        images: [
          { url: "home/classes/blue_soldier.webp", alt: "Soldier icon" },
          { url: "home/classes/red_soldier.webp", alt: "Soldier icon" },
        ],
        name: "Soldier",
        speed: "240",
        armour: "200 Red",
        weapons: ["Rocket Launcher", "Super Shotgun", "Shotgun", "Axe"],
        grenades: ["Frag", "Shock / Nail"],
        specials: [],
        attributes: [],
      }, {
        images: [
          { url: "home/classes/blue_demoman.webp", alt: "Demoman icon" },
          { url: "home/classes/red_demoman.webp", alt: "Demoman icon" },
        ],
        name: "Demolitions Man",
        speed: "280",
        armour: "110 Yellow",
        weapons: ["Pipe Launcher", "Grenade Launcher", "Shotgun", "Axe"],
        grenades: ["Frag", "MIRV"],
        specials: ["Detonate pipebombs", "Set detpack"],
        attributes: [],
      }, {
        images: [
          { url: "home/classes/blue_medic.webp", alt: "Medic icon" },
          { url: "home/classes/red_medic.webp", alt: "Medic icon" },
        ],
        name: "Medic",
        speed: "320",
        armour: "90 Yellow",
        weapons: ["Super Nailgun", "Super Shotgun", "Shotgun", "Medi/Bio Weapon"],
        grenades: ["Frag", "Blast / Concussion"],
        specials: ["Healing Aura"],
        attributes: ["Immune to concussion"],
      }, {
        images: [
          { url: "home/classes/blue_hwguy.webp", alt: "Heavy icon" },
          { url: "home/classes/red_hwguy.webp", alt: "Heavy icon" },
        ],
        name: "Heavy Weapons Guy",
        speed: "230",
        armour: "300 Red",
        weapons: ["Assault Cannon", "Super Shotgun", "Shotgun", "Axe"],
        grenades: ["Frag", "MIRV"],
        specials: ["Cannon Lock"],
        attributes: ["Reduced knockback when taking damage"],
      }, {
        images: [
          { url: "home/classes/blue_pyro.webp", alt: "Pyro icon" },
          { url: "home/classes/red_pyro.webp", alt: "Pyro icon" },
        ],
        name: "Pyro",
        speed: "300",
        armour: "150 Yellow",
        weapons: ["Flamethrower", "Incendiary Cannon", "Shotgun", "Axe"],
        grenades: ["Frag", "Napalm"],
        specials: ["Airblast"],
        attributes: ["Is resistant to fire"],
      }, {
        images: [
          { url: "home/classes/blue_spy.webp", alt: "Spy icon" },
          { url: "home/classes/red_spy.webp", alt: "Spy icon" },
        ],
        name: "Spy",
        speed: "300",
        armour: "90 Yellow",
        weapons: ["Nailgun", "Super Shotgun", "Tranq Gun", "Knife"],
        grenades: ["Frag", "Hallucinogenic Gas"],
        specials: ["Feign", "Disguise"],
        attributes: ["Can uncover enemy spies"],
      }, {
        images: [
          { url: "home/classes/blue_engineer.webp", alt: "Engineer icon" },
          { url: "home/classes/red_engineer.webp", alt: "Engineer icon" },
        ],
        name: "Engineer",
        speed: "300",
        armour: "30 Yellow",
        weapons: ["Railgun", "Super Shotgun", "Shotgun", "Spanner"],
        grenades: ["Frag", "EMP"],
        specials: ["Dispenser", "Sentry Gun"],
        attributes: ["Can dismantle enemy Buildings"],
      }, ].each do |player_class| %>

      <article>
        <div style="display: flex;">
          <div style="flex: 33%">
            <h3><%= player_class[:name] %></h3>
            <% player_class[:images].each do |image| %>
              <%= image_tag(image[:url]) %>
            <% end %>
          </div>
          <div style="flex: 33%">
            <dl>
              <dt>Speed</dt>
              <dd><%= player_class[:speed] %> unit/s</dd>
            </dl>
            <dl>
              <dt>Armour</dt>
              <dd><%= player_class[:armour] %></dd>
            </dl>
            <% if player_class[:specials].any? %>
              <dl>
                <dt>Specials</dt>
                <dd>
                  <ol>
                    <% player_class[:specials].each do |weapon| %>
                      <li><%= weapon %></li>
                    <% end %>
                  </ol>
                </dd>
              </dl>
            <% end %>
            <% if player_class[:attributes].any? %>
              <dl>
                <dt>Attributes</dt>
                <dd>
                  <ul>
                    <% player_class[:attributes].each do |weapon| %>
                      <% binding.pry if weapon.nil? %>
                      <li><%= weapon.presence || "-" %></li>
                    <% end %>
                  </ul>
                </dd>
              </dl>
            <% end %>
          </div>
          <div style="flex: 33%">
            <dl>
              <dt>Weapons</dt>
              <dd>
                <ol>
                  <% player_class[:weapons].each do |weapon| %>
                    <li><%= weapon %></li>
                  <% end %>
                </ol>
              </dd>
            </dl>
            <dl>
              <dt>Grenades</dt>
              <dd>
                <ol>
                  <% player_class[:grenades].each do |grenade| %>
                    <li><%= grenade %></li>
                  <% end %>
                </ol>
              </dd>
            </dl>
          </div>
        </div>
      </article>
    <% end %>
  </section>

  <section>
    <hgroup>
    <h2>Controls</h2>
    <h3>There's a lot of buttons</h3>
    </hgroup>
    <%= image_tag(asset_path("home/controls.webp"), alt: "Default keyboard config") %>
  </section>

  <section>
    <hgroup>
    <h2>Acknowledgments</h2>
    <h3>A true grassroots community project</h3>
    </hgroup>
    <div class="grid">
      <div>
        <p>FortressOne is powered by:</p>
        <ul>
          <li><a href="https://fte.triptohell.info/">FTE Quake</a></li>
          <li><a href="https://web.archive.org/web/20131005123834/http://www.planetfortress.com/teamfortress/">Team Fortress</a></li>
          <li><a href="https://bethesda.net/en/game/quake">QuakeWorld</a></li>
          <li><a href="http://classicfortress.net/">Classic Fortress</a></li>
        </ul>
      </div>
      <div>
        <p>It includes assets from:</p>
        <ul>
          <li><a href="https://github.com/MissLav/LibreQuake">LibreQuake</a></li>
          <li><a href="http://openquartz.sourceforge.net/index.html">OpenQuartz</a></li>
          <li><a href="https://qrp.quakeone.com/">Quake Revitalisation Project</a></li>
          <li><a href="https://www.quaddicted.com/webarchive/www.planetfortress.com/tfdone_easy/dox/index.html">DOX's Coolcrap</a></li>
          <li><a href="http://members.optusnet.com.au/~plaguespak/">Plagues pak</a></li>
          <li><a href="https://web.archive.org/web/20131029220657/http://ruohis.com/home.htm">Ruohis</a></li>
          <li><a href="https://gfx.quakeworld.nu/user/148/primevil/">PrimeviL</a></li>
          <li><a href="https://gfx.quakeworld.nu/user/26/bps/">bps</a></li>
        </ul>
      </div>
      <div>
        <p>It takes inspiration from:</p>
        <ul>
          <li><a href="https://web.archive.org/web/20120210172357/http://zquake.frag.ru/eng/news/index.shtml">zQuake</a></li>
          <li><a href="https://web.archive.org/web/20060820054509/http://www.fuhquake.net/">FuhQuake</a></li>
          <li><a href="https://www.ezquake.com/">ezQuake</a></li>
          <li><a href="https://web.archive.org/web/20050627020628/http://ap.qgl.org/mercury/">ozTF</a></li>
          <li><a href="https://github.com/gmtandi/huetf">hueTF</a></li>
          <li><a href="https://www.quakelive.com/">Quake Live</a></li>
          <li><a href="https://store.steampowered.com/app/20/Team_Fortress_Classic/">Team Fortress Classic</a></li>
          <li><a href="http://www.fortress-forever.com/">Fortress Forever</a></li>
          <li><a href="https://www.teamfortress.com/">Team Fortress 2</a></li>
        </ul>
      </div>
    </div>
  </section>
</main>

<footer class="container">
  <p>FortressOne <%= Time.zone.now.year %> · <%= link_to("Code of conduct", code_of_conduct_path) %></p>
</footer>
