<div id="banner"></div>

<main class="container">
  <section>
    <%= image_tag(asset_path("home/logo.webp"), alt: "FortressOne logo", height: 128, width: 128) %>

    <hgroup>
    <h1>FortressOne</h1>
    <h2>Quake Team Fortress Remastered</h2>
    </hgroup>

    <p>Free and open source fork of the original 1996 QuakeWorld mod Team Fortress. Fast-paced, class based, arena first person shooter remastered with refined graphics, new mechanics and evolved gameplay.</p>
  </section>

  <section>
    <div class="grid">
      <div>
        <hgroup>
        <h2>Download</h2>
        <h3>Latest release: 9th August 2021</h3>
        </hgroup>

        <p>FortressOne is stand-alone. Download the zip, extract and run.</p>

        <ul>
          <li><a href="https://github.com/FortressOne/fte-config/releases/download/1.1.1-beta.1/fortressone-fte-windows-1.1.1-beta.1-portable.zip">Windows v1.1.1-beta.1</a></li>
          <li><a href="https://github.com/FortressOne/fte-config/releases/download/1.1.1-beta.1/fortressone-fte-linux-1.1.1-beta.1-portable.zip">Linux v1.1.1-beta.1</a></li>
        </ul>

        <p>Talk on <a href="https://discord.fortressone.org">Discord</a>, code on <a href="https://github.com/fortressone">GitHub</a> or watch on <a href="https://www.youtube.com/channel/UCgYzKaEyTNoVfRLwlpfKzFQ">YouTube</a> and <a href="https://www.twitch.tv/directory/game/FortressOne">Twitch</a>.</p>
      </div>
      <div>
        <%= turbo_frame_tag :live_player_show, src: live_player_show_path do %>
          <%= render "video_frame", locals: { h2: "Watch", h3: "loading..." } do %>
            <div class="responsive-iframe">
              <%= image_tag(asset_path("loader.svg"), alt: "Loading video") %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>

  <section>
    <div class="grid">
      <div>
        <hgroup>
        <h2>Video</h2>
        <h3>In game action</h3>
        </hgroup>
        <ul>
          <li><a href="https://www.youtube.com/channel/UCgYzKaEyTNoVfRLwlpfKzFQ">YouTube</a></li>
          <li><a href="https://www.twitch.tv/FortressOne">Twitch channel</a></li>
          <li><a href="https://www.twitch.tv/directory/game/FortressOne">Twitch category</a></li>
        </ul>
      </div>
      <div>
        <hgroup>
        <h2>Play</h2>
        <h3>Chat, code, learn</h3>
        </hgroup>
        <ul>
          <li><a href="https://discord.fortressone.org">Discord</a></li>
          <li><a href="https://github.com/fortressone">GitHub</a></li>
          <li><a href="https://fortressone.fandom.com/wiki/FortressOne_Wiki">Wiki</a></li>
        </ul>
      </div>
      <div>
        <hgroup>
        <h2>Featured</h2>
        <h3>Around the web</h3>
        </hgroup>
        <ul>
          <li><a href="https://www.moddb.com/games/fortressone">ModDB</a></li>
          <li><a href="https://drzel.itch.io/fortressone">itch.io</a></li>
          <li><a href="https://www.igdb.com/games/fortressone">IGDB</a></li>
        </ul>
      </div>
      <div>
        <hgroup>
        <h2>Social</h2>
        <h3>We got those too</h3>
        </hgroup>
        <ul>
          <li><a href="https://www.reddit.com/r/FortressOne">Reddit</a></li>
          <li><a href="https://twitter.com/fortressone_dev">Twitter</a></li>
          <li><a href="https://news.ycombinator.com/item?id=22777321">Hacker News</a></li>
        </ul>
      </div>
      <div>
        <hgroup>
        <h2>Posterity</h2>
        <h3>Nerd out on history</h3>
        </hgroup>
        <ul>
          <li><%= link_to("Results", results_root_path, rel: "nofollow") %></li>
          <li><a href="https://demos.fortressone.org">Demos</a></li>
          <li><a href="http://fortressone-stats.s3-website-ap-southeast-2.amazonaws.com/">Stats</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <hgroup>
    <h2>Screenshots</h2>
    <h3>Click to open</h3>
    </hgroup>

    <div class="grid">
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/1.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/1.webp"), alt: "Heavy leaving spawn with team", width: "640", height: "360") %>
        <% end %>
      </div>
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/2.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/2.webp"), alt: "Spy lobbing grenade at Engineer and sentry gun", width: "640", height: "360") %>
        <% end %>
      </div>
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/3.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/3.webp"), alt: "Detonating pipe bombs to take out attacking medic", width: "640", height: "360") %>
        <% end %>
      </div>
    </div>
    <div class="grid">
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/4.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/4.webp"), alt: "Heavy turns around to discover a spy", width: "640", height: "360") %>
        <% end %>
      </div>
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/5.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/5.webp"), alt: "Soldier attacks enemy ramp room", width: "640", height: "360") %>
        <% end %>
      </div>
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/6.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/6.webp"), alt: "Soldier throws grenade at enemy pyro", width: "640", height: "360") %>
        <% end %>
      </div>
    </div>
    <div class="grid">
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/7.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/7.webp"), alt: "Enemy medic attempts to infect defending soldier", width: "640", height: "360") %>
        <% end %>
      </div>
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/8.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/8.webp"), alt: "Heavy defends flag at front of base", width: "640", height: "360") %>
        <% end %>
      </div>
      <div style="margin-bottom: 20px;">
        <%= link_to(asset_path("home/screenshots/9.png"), target:"_blank") do %>
          <%= image_tag(asset_path("home/screenshots/thumbnails/9.webp"), alt: "Demo and soldier fire on outgoing spy", width: "640", height: "360") %>
        <% end %>
      </div>
    </div>
  </section>

  <section data-nosnippet>
    <hgroup>
    <h2>Classes</h2>
    <h3>The low-down on each</h3>
    </hgroup>

    <figure>
      <table role="grid">
        <thead>
          <tr>
            <th style="min-width: 136px;"></th>
            <th scope="col">Class</th>
            <th scope="col">Speed</th>
            <th scope="col">Armour</th>
            <th scope="col">Weapons</th>
            <th scope="col">Grenades</th>
            <th scope="col">Special</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="white-space: nowrap;"><%= image_tag(asset_path("home/classes/blue_scout.webp"), alt: "Scout icon", width: "68", height: "128") %></td>
            <td style="white-space: nowrap;">Scout</td>
            <td style="white-space: nowrap;">450</td>
            <td style="white-space: nowrap;">25 Green</td>
            <td style="white-space: nowrap;">Nailgun</br>Shotgun</br>Axe</td>
            <td style="white-space: nowrap;">Flash / Caltrops</br>Concussion</td>
            <td style="white-space: nowrap;">Dash</br>Scanner</br>Undisguise enemy</br>Disarm Detpack</td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><%= image_tag(asset_path("home/classes/blue_sniper.webp"), alt: "Sniper icon", width: "68", height: "128") %></td>
            <td style="white-space: nowrap;">Sniper</td>
            <td style="white-space: nowrap;">300</td>
            <td style="white-space: nowrap;">40 Green</td>
            <td style="white-space: nowrap;">Sniper Rifle</br>Nailgun</br>Axe</td>
            <td style="white-space: nowrap;">Frag</br>Flare</td>
            <td style="white-space: nowrap;">Zoom</td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><%= image_tag(asset_path("home/classes/blue_soldier.webp"), alt: "Soldier icon", width: "68", height: "128") %></td>
            <td style="white-space: nowrap;">Soldier</td>
            <td style="white-space: nowrap;">240</td>
            <td style="white-space: nowrap;">200 Red</td>
            <td style="white-space: nowrap;">Rocket Launcher</br>Super Shotgun</br>Shotgun</br>Axe</td>
            <td style="white-space: nowrap;">Frag</br>Shock / Nail</td>
            <td style="white-space: nowrap;">None</td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><%= image_tag(asset_path("home/classes/blue_demoman.webp"), alt: "Demoman icon", width: "68", height: "128") %></td>
            <td style="white-space: nowrap;">Demoman</td>
            <td style="white-space: nowrap;">280</td>
            <td style="white-space: nowrap;">110 Yellow</td>
            <td style="white-space: nowrap;">Pipe Launcher</br>Grenade Launcher</br>Shotgun</br>Axe</td>
            <td style="white-space: nowrap;">Frag</br>MIRV</td>
            <td style="white-space: nowrap;">Detpipe</br>Detpack</td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><%= image_tag(asset_path("home/classes/blue_medic.webp"), alt: "Medic icon", width: "68", height: "128") %></td>
            <td style="white-space: nowrap;">Medic</td>
            <td style="white-space: nowrap;">320</td>
            <td style="white-space: nowrap;">90 Yellow</td>
            <td style="white-space: nowrap;">Super Nailgun</br>Super Shotgun</br>Shotgun</br>Medi/Bio Weapon</td>
            <td style="white-space: nowrap;">Frag</br>Blast / Concussion</td>
            <td style="white-space: nowrap;">Healing Aura</br>Concussion Immunity</td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><%= image_tag(asset_path("home/classes/blue_hwguy.webp"), alt: "Heavy icon", width: "68", height: "128") %></td>
            <td style="white-space: nowrap;">HWGuy</td>
            <td style="white-space: nowrap;">230</td>
            <td style="white-space: nowrap;">300 Red</td>
            <td style="white-space: nowrap;">Assault Cannon</br>Super Shotgun</br>Shotgun</br>Axe</td>
            <td style="white-space: nowrap;">Frag</br>MIRV</td>
            <td style="white-space: nowrap;">Cannon Lock</br>Extra Mass</td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><%= image_tag(asset_path("home/classes/blue_pyro.webp"), alt: "Pyro icon", width: "68", height: "128") %></td>
            <td style="white-space: nowrap;">Pyro</td>
            <td style="white-space: nowrap;">300</td>
            <td style="white-space: nowrap;">150 Yellow</td>
            <td style="white-space: nowrap;">Flamethrower</br>Incendiary Cannon</br>Shotgun</br>Axe</td>
            <td style="white-space: nowrap;">Frag</br>Napalm</td>
            <td style="white-space: nowrap;">Airblast</td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><%= image_tag(asset_path("home/classes/blue_spy.webp"), alt: "Spy icon", width: "68", height: "128") %></td>
            <td style="white-space: nowrap;">Spy</td>
            <td style="white-space: nowrap;">300</td>
            <td style="white-space: nowrap;">90 Yellow</td>
            <td style="white-space: nowrap;">Nailgun</br>Super Shotgun</br>Tranq Gun</br>Knife</td>
            <td style="white-space: nowrap;">Frag</br>Hallucinogenic Gas</td>
            <td style="white-space: nowrap;">Disguise</br>Feign</br>Undisguise enemy</td>
          </tr>
          <tr>
            <td style="white-space: nowrap;"><%= image_tag(asset_path("home/classes/blue_engineer.webp"), alt: "Engineer icon", width: "68", height: "128") %></td>
            <td style="white-space: nowrap;">Engineer</td>
            <td style="white-space: nowrap;">300</td>
            <td style="white-space: nowrap;">30 Yellow</td>
            <td style="white-space: nowrap;">Railgun</br>Super Shotgun</br>Shotgun</br>Spanner</td>
            <td style="white-space: nowrap;">Frag</br>EMP</td>
            <td style="white-space: nowrap;">Build Sentry Gun</br>Build Dispenser</br>Dismantle Enemy Buildings</td>
          </tr>
        </tbody>
      </table>
    </figure>
  </section>

  <section>
    <hgroup>
    <h2>Words</h2>
    <h3>What people are saying about FortressOne</h3>
    </hgroup>
    <blockquote>
      "Possibly the best game ever made!"
      <footer>
        <cite>- hydr0buds</cite>
      </footer>
    </blockquote>
    <blockquote>
      "FortressOne has brought qwtf current both with improved graphics and slightly tweaked gameplay. The community on discord is very friendly and happy to help you get setup and running quickly. They organize pick up games every night and also setup tournaments."
      <footer>
        <cite>- a2yay</cite>
      </footer>
    </blockquote>
    <blockquote>
      "This is the game you played 20 years ago and fell in love with!"
      <footer>
        <cite>- ricksonfold</cite>
      </footer>
    </blockquote>
    <blockquote>
      "An outstanding mod with a lot of work going in to improve game play still till this day."
      <footer>
        <cite>- andywelsh17</cite>
      </footer>
    </blockquote>
  </section>

  <section>
    <hgroup>
    <h2>Acknowledgments</h2>
    <h3>A true grassroots community project</h3>
    </hgroup>
    <div class="grid">
      <div>
        <p>FortressOne is powered by:</p>
        <ul>
          <li><a href="https://fte.triptohell.info/">FTE Quake</a></li>
          <li><a href="https://web.archive.org/web/20131005123834/http://www.planetfortress.com/teamfortress/">Team Fortress</a></li>
          <li><a href="https://bethesda.net/en/game/quake">QuakeWorld</a></li>
          <li><a href="http://classicfortress.net/">Classic Fortress</a></li>
        </ul>
      </div>
      <div>
        <p>It includes assets from:</p>
        <ul>
          <li><a href="https://github.com/MissLav/LibreQuake">LibreQuake</a></li>
          <li><a href="http://openquartz.sourceforge.net/index.html">OpenQuartz</a></li>
          <li><a href="https://qrp.quakeone.com/">Quake Revitalisation Project</a></li>
          <li><a href="https://www.quaddicted.com/webarchive/www.planetfortress.com/tfdone_easy/dox/index.html">DOX's Coolcrap</a></li>
          <li><a href="http://members.optusnet.com.au/~plaguespak/">Plagues pak</a></li>
          <li><a href="https://web.archive.org/web/20131029220657/http://ruohis.com/home.htm">Ruohis</a></li>
          <li><a href="https://gfx.quakeworld.nu/user/148/primevil/">PrimeviL</a></li>
          <li><a href="https://gfx.quakeworld.nu/user/26/bps/">bps</a></li>
        </ul>
      </div>
      <div>
        <p>It takes inspiration from:</p>
        <ul>
          <li><a href="https://web.archive.org/web/20120210172357/http://zquake.frag.ru/eng/news/index.shtml">zQuake</a></li>
          <li><a href="https://web.archive.org/web/20060820054509/http://www.fuhquake.net/">FuhQuake</a></li>
          <li><a href="https://www.ezquake.com/">ezQuake</a></li>
          <li><a href="https://web.archive.org/web/20050627020628/http://ap.qgl.org/mercury/">ozTF</a></li>
          <li><a href="https://github.com/gmtandi/huetf">hueTF</a></li>
          <li><a href="https://www.quakelive.com/">Quake Live</a></li>
          <li><a href="https://store.steampowered.com/app/20/Team_Fortress_Classic/">Team Fortress Classic</a></li>
          <li><a href="http://www.fortress-forever.com/">Fortress Forever</a></li>
          <li><a href="https://www.teamfortress.com/">Team Fortress 2</a></li>
        </ul>
      </div>
    </div>
  </section>
</main>

<footer class="container">
  <p>FortressOne <%= Time.zone.now.year %> · <%= link_to("Code of conduct", code_of_conduct_path) %></p>
</footer>
