<main class="container">
  <%= render_breadcrumbs %>
  <h2><%= @discord_channel.name %></h2>
  <figure>
    <h3>Players</h3>
    <table id="players_table" style="white-space: nowrap;" role="grid">
      <thead>
        <tr>
          <th style="width: 1.5rem;"></th>
          <th>Name</th>
          <% if @discord_channel.rated? || current_player&.admin? %>
            <th data-sort-method='number'>CSE</th>
            <th>Tier</th>
            <th data-sort-method='number'>Rank</th>
            <th data-sort-method='dotsep'>Percentile</th>
          <% end %>
          <th data-sort-method='number'>Played</th>
          <th data-sort-method='number'>Wins</th>
          <th data-sort-method='number'>Losses</th>
          <th data-sort-method='number'>Draws</th>
          <th data-sort-method='number'>Last Match Date</th>
        </tr>
      </thead>
      <tbody>
        <% @discord_channel_players.each_with_index do |dcp, index| %>
          <% trueskill_rating = dcp.trueskill_rating %>
          <tr>
            <td>
              <% if dcp.player.image %>
                <%= image_tag dcp.player.image, style: "max-width: 1.5rem; border-radius: 50%;" %>
              <% end %>
            </td>
            <td>
              <%= link_to(dcp.player.name, dcp.player) %>
            </td>
            <% if @discord_channel.rated? || current_player&.admin? %>
              <td><%= number_with_precision(trueskill_rating.conservative_skill_estimate, precision: 2) %></td>
              <td><%= dcp.tier %></td>
              <td><%= dcp.rank %>/<%= dcp.discord_channel.discord_channel_players.count %></td>
              <td><%= dcp.percentile.to_i.ordinalize %></td>
            <% end %>
            <td><%= dcp.match_count %></td>
            <td><%= dcp.win_count %></td>
            <td><%= dcp.loss_count %></td>
            <td><%= dcp.draw_count %></td>
            <td data-sort="<%= dcp.last_match_date && dcp.last_match_date.to_i %>"><%= dcp.last_match_date && local_time_ago(dcp.last_match_date) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </figure>
  <h3>Matches</h3>
  <% @matches.each do |match| %>
    <section>
      <div class="grid">
        <div id="match_id_and_date" style="text-align: left;">
          <hgroup>
          <h4><%= match.id %></h4>
          <h4><%= local_time(match.created_at) %></h4>
          <% if match.game_map %>
            <h3><%= match.game_map.name %></h3>
          <% end %>
          </hgroup>
        </div>
        <div style="text-align: center;" id="match_team_result_<%= match.teams.first.result %>">
          <hgroup>
          <h3>Blue <%= result(match.teams.first.result) %></h2>
          <h4><%= match.teams.first.players.map(&:name).join(", ") %></h3>
          </hgroup>
        </div>
        <div style="text-align: center;" id="match_team_result_<%= match.teams.second.result %>">
          <hgroup>
          <h3>
            Red <%= result(match.teams.second.result) %></h2>
          <h4><%= match.teams.second.players.map(&:name).join(", ") %></h3>
          </hgroup>
        </div>
      </div>
    </section>
  <% end %>
</main>
