<h2>Players</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Rating</th>
    <th>Last Match</th>
    <th>Played</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Draws</th>
  </tr>
  <% @dashboard_items[:players].each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= number_with_precision(player.trueskill_rating.skill, precision: 3) %></td>
      <td><%= player.last_match_date && local_time(player.last_match_date) %></td>
      <td style="text-align:right;"><%= player.match_count %></td>
      <td style="text-align:right;"><%= player.win_count %></td>
      <td style="text-align:right;"><%= player.loss_count %></td>
      <td style="text-align:right;"><%= player.draw_count %></td>
    </tr>
  <% end %>
</table>

<h2>Matches</h2>
<% @dashboard_items[:matches].each do |match| %>
  <hr>
  <div>
    <table>
      <tr>
        <th>ID</th>
        <th>Map</th>
        <th>Date</th>
      </tr>
      <tr>
        <td><%= match.id %></td>
        <td><%= match.game_map && match.game_map.name || "Unknown" %></td>
        <td><%= local_time(match.created_at) %></td>
      </tr>
    </table>
    <div>
    </div>
    <table>
      <tr>
        <th>Result</th>
        <th>Number</th>
        <th>Players</th>
      </tr>
      <% match.teams.each do |team| %>
        <tr>
          <td><%= result(team.result) %></td>
          <td><%= team.name %></td>
          <td><%= team.players.map(&:name).join(", ") %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
