<h2>Players</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Rating</th>
    <th>Last Match</th>
    <th>Played</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Draws</th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= number_with_precision(player.trueskill_rating.skill, precision: 3) %></td>
      <td><%= player.last_match_date && local_time(player.last_match_date) %></td>
      <td style="text-align:right;"><%= player.match_count %></td>
      <td style="text-align:right;"><%= player.win_count %></td>
      <td style="text-align:right;"><%= player.loss_count %></td>
      <td style="text-align:right;"><%= player.draw_count %></td>
    </tr>
  <% end %>
</table>
