<main class="container">
  <%= render_breadcrumbs %>

  <div style="display: flex; gap: 1rem; margin-bottom: 30px;">
    <% if @player.image %>
      <%= image_tag @player.image, style: "margin-top: 0.5rem; border-radius: 50%;" %>
    <% end %>

    <hgroup>
    <h2><%= @player.name %></h2>
    <h3>
      Has played <%= @player.match_count %> matches</br>
      Last played <%= @player.last_match_date && local_time_ago(@player.last_match_date) %>
    </h3>
    </hgroup>
  </div>

  <% if @player == current_player || current_player&.admin? %>
    <p>
      Connect to a FortressOne server and enter
      <code>/login <%= @player.auth_token %></code>
      at the console.
      <%= link_to("Rotate token", rotate_token_player_path, data: {turbo: false}) %>
    </p>
<% end %>

  <figure>
    <table id="player_table" style="white-space: nowrap; max-width: 200px;" role="grid">
      <thead>
        <tr>
          <td>Played</td>
          <td>Wins</td>
          <td>Losses</td>
          <td>Draws</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @player.match_count %></td>
          <td><%= @player.win_count %></td>
          <td><%= @player.loss_count %></td>
          <td><%= @player.draw_count %></td>
        </tr>
      </tbody>
    </table>
  </figure>


  <% @player.discord_channel_players_with_matches_played.each do |dcp| %>
    <section>
      <figure>
        <%= link_to dcp.discord_channel.name, results_discord_channel_path(dcp.discord_channel) %>
        <table id="player_discord_channels_table" style="white-space: nowrap;" role="grid">
          <thead>
            <tr>
              <% if @player.public_ratings || @player == current_player || current_player&.admin?  %>
                <th data-sort-method='number'>CSE</th>
                <th>Tier</th>
                <th data-sort-method='number'>Rank</th>
                <th data-sort-method='dotsep'>Percentile</th>
              <% end %>
              <th data-sort-method='number'>Played</th>
              <th data-sort-method='number'>Wins</th>
              <th data-sort-method='number'>Losses</th>
              <th data-sort-method='number'>Draws</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% if @player.public_ratings || @player == current_player  || current_player&.admin? %>
                <td><%= number_with_precision(dcp.conservative_skill_estimate, precision: 2) %></td>
                <td><%= dcp.tier %></td>
                <td><%= dcp.rank %>/<%= dcp.discord_channel.discord_channel_players.count %></td>
                <td><%= dcp.percentile.to_i.ordinalize %></td>
              <% end %>
              <td><%= dcp.match_count %></td>
              <td><%= dcp.win_count %></td>
              <td><%= dcp.loss_count %></td>
              <td><%= dcp.draw_count %></td>
            </tr>
          </tbody>
        </table>
        <% if @player.public_ratings || @player == current_player  || current_player&.admin? %>
          <%= area_chart(
            dcp.trueskill_ratings_graph(30),
            xmin: 1,
            xmax: 30,
            height: "300px",
            min: nil,
            xtitle: "Last 30 matches",
            ytitle: "Conservative skill estimate") %>
      </figure>
    <% end %>
    </section>
  <% end %>
</main>
