<div id="<%= dom_id match %>">
  <article>
    <header>
      <p>
      <%= local_time(match.created_at) %>
      <small>(<%= local_time_ago(match.created_at) %>)</small></br>

        <% if match.server %>
          <%= link_to(match.server.name, "qw://#{match.server.address}") %>
        <% elsif match.discord_channel %>
          <%= link_to(match.discord_channel.name, match.discord_channel.invite_url) %>
        <% else %>
          "Unknown location"
        <% end %>
        </br>

        <%= match_summary(match) %>
      </p>
      <% if match.time_left %>
        <progress value="<%= 1200 - match.time_left %>" max="1200"></progress>
      <% end %>
    </header>
    <div class="grid">
      <div style="margin: auto;">
        <% team1 = match.team(1) %>
        <%= image_tag(team1.flag[:url], alt: team1.flag[:alt], style: "height: 44px;") %>
        <strong><%= team1.description %></strong>
        </br>
        <% team1.discord_channel_player_teams.each do |dcpt| %>
          <% dcpt.images.each do |pc| %>
            <%= image_tag(pc[:url], alt: pc[:alt], style: "height: 44px;") %>
          <% end %>
          <%= dcpt.name %>
          </br>
        <% end %>
      </div>
      <div style="margin: auto;">
        <h1><%= match.score %></h1>
      </div>
      <div style="margin: auto;">
        <% team2 = match.team(2) %>
        <%= image_tag(team2.flag[:url], alt: team2.flag[:alt], style: "height: 44px;") %>
        <strong><%= team2.description %></strong>
        </br>
        <% team2.discord_channel_player_teams.each do |dcpt| %>
          <% dcpt.images.each do |pc| %>
            <%= image_tag(pc[:url], alt: pc[:alt], style: "height: 44px;") %>
          <% end %>
          <%= dcpt.name %>
          </br>
        <% end %>
      </div>
    </div>
    <footer>
        <%= link_to("Summary", match) %>
        <%= DELIMITER %>
        <%= link_to("Demo", match.demo_uri) %>
        <%= DELIMITER %>
        <%= link_to("Stats", match.stats_uri) %>
    </footer>
  </article>
</div>
