<div id="<%= dom_id match %>">
  <article>
    <header>
      <p>
        <span style="float: right;"><%= match.id %><%= DELIMITER %><%= local_time(match.created_at) %><small> (<%= local_time_ago(match.created_at) %>)</small></span>
        <% if match.server %>
          Server: <%= link_to(match.server.name, "qw://#{match.server.address}", style: "text-align: left;") %></br>
        <% end %>
        <% if match.discord_channel %>
          Discord: <%= link_to(match.discord_channel.name, match.discord_channel, style: "text-align: left;") %></br>
        <% end %>
        <h4><%= match_summary(match) %></h4>
      </p>
      <% if match.time_left %>
        <progress style='--progress-color: <%= match.result_colour %>;' value=<%= 1200 - match.time_left %> max="1200"></progress>
      <% end %>
    </header>
    <div class="grid">
      <div style="margin: auto;">
        <% team1 = match.team(1) %>
        <% if team1 %>
          <%= image_tag(team1.flag[:url], alt: team1.flag[:alt], style: "height: 44px;") %>
          <strong><%= team1.description %></strong>
          </br>
          <% team1.discord_channel_player_teams.each do |dcpt| %>
            <% dcpt.images.each do |pc| %>
              <%= image_tag(pc[:url], alt: pc[:alt], style: "height: 44px;") %>
            <% end %>
            <%= link_to(dcpt.name, dcpt.player) %>
            </br>
          <% end %>
        <% end %>
      </div>
      <div style="margin: auto;">
        <h1><%= match.score %></h1>
      </div>
      <div style="margin: auto;">
        <% team2 = match.team(2) %>
        <% if team2 %>
          <%= image_tag(team2.flag[:url], alt: team2.flag[:alt], style: "height: 44px;") %>
          <strong><%= team2.description %></strong>
          </br>
          <% team2.discord_channel_player_teams.each do |dcpt| %>
            <% dcpt.images.each do |pc| %>
              <%= image_tag(pc[:url], alt: pc[:alt], style: "height: 44px;") %>
            <% end %>
            <%= link_to(dcpt.name, dcpt.player) %>
            </br>
          <% end %>
        <% end %>
      </div>
    </div>
    <footer>
      <%= link_to("Summary", match) %>
      <%= DELIMITER %>
      <%= link_to("Demo", match.demo_uri) %>
      <%= DELIMITER %>
      <%= link_to("Stats", match.stats_uri) %>
    </footer>
  </article>
</div>
