<h2>Players</h2>
<table id="players_table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th data-sort-method='dotsep'>CSE</th>
      <th data-sort-method='dotsep'>Mean (μ)</th>
      <th data-sort-method='dotsep'>SD (σ)</th>
      <th data-sort-method='number'>Played</th>
      <th data-sort-method='number'>Wins</th>
      <th data-sort-method='number'>Losses</th>
      <th data-sort-method='number'>Draws</th>
      <th data-sort-method='number'>Last Match Date</th>
      <th>Last Match Discord</th>
    </tr>
  </thead>
  <tbody>
    <% players.each_with_index do |player, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= player.name %></td>
        <td><%= number_with_precision(player.trueskill_rating.conservative_skill_estimate, precision: 2) %></td>
        <td><%= number_with_precision(player.trueskill_rating.mean, precision: 2) %></td>
        <td><%= number_with_precision(player.trueskill_rating.deviation, precision: 2) %></td>
        <td style="text-align:right;"><%= player.match_count %></td>
        <td style="text-align:right;"><%= player.win_count %></td>
        <td style="text-align:right;"><%= player.loss_count %></td>
        <td style="text-align:right;"><%= player.draw_count %></td>
        <td data-sort="<%= player.last_match_date && player.last_match_date.to_i %>"><%= player.last_match_date && local_time_ago(player.last_match_date) %></td>
        <td><%= player.last_discord_channel && player.last_discord_channel.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
